
  {% if pageInfo.totalPages > 1 %}
  <section class="pagination">
    <div class="firstPage">
      {% if pageInfo.prevUrl %}
      <a href="{{ pageInfo.firstUrl }}">First</a>
      {% endif %}
    </div>
    <div class="middlePages">
      {% if pageInfo.prevUrl %}
      <a href="{{ pageInfo.prevUrl }}"><img src="/images/icon-previous.svg" alt="previous page" /></a>
      {% endif %}
      {% for page, url in pageInfo.getPrevUrls(5) %}
      <a href="{{ url }}">{{ page }}</a>
      {% endfor %}
      <span class="current">{{ pageInfo.currentPage }}</span>
      {% for page, url in pageInfo.getNextUrls(5) %}
      <a href="{{ url }}">{{ page }}</a>
      {% endfor %}
      {% if pageInfo.nextUrl %}
      <a href="{{ pageInfo.nextUrl }}"><img src="/images/icon-next.svg" alt="next page" /></a>
      {% endif %}
    </div>
    <div class="lastPage">
      {% if pageInfo.nextUrl %}
      <a href="{{ pageInfo.lastUrl }}">Last</a>
      {% endif %}
    </div>
  </section>
{% endif %}